@font-face {
  font-family: ui-icons;
  /*work in ie9, webpack to data-url*/ 
  src:url('fonts/icons.woff?t=1528000954869') format('woff'); 
}
[class*=" ui-icon-"], [class^="ui-icon-"] {
  font-family: "ui-icons" !important;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  speak: none;
  vertical-align: baseline;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mp-icon-loading{
  animation: rotating 1.4s linear infinite;
}
@keyframes rotating{
  0% {
      transform: rotate(0);
  }
  100% {
      transform: rotate(1turn);
  }
}
.ui-icon-plus:before { content: "\e603"; }
.ui-icon-arrow-right:before { content: "\e604"; }
.ui-icon-more:before { content: "\e600"; }
.ui-icon-align-center:before { content: "\e73f"; }
.ui-icon-align-justify:before { content: "\e740"; }
.ui-icon-align-left:before { content: "\e741"; }
.ui-icon-align-right:before { content: "\e743"; }
.ui-icon-angle-down:before { content: "\e74b"; }
.ui-icon-bars:before { content: "\e770"; }
.ui-icon-bold:before { content: "\e788"; }
.ui-icon-caret-left:before { content: "\e7a2"; }
.ui-icon-caret-right:before { content: "\e7a3"; }
.ui-icon-font:before { content: "\e83f"; }
.ui-icon-image:before { content: "\e880"; }
.ui-icon-inbox:before { content: "\e882"; }
.ui-icon-italic:before { content: "\e88b"; }
.ui-icon-sort:before { content: "\e93e"; }
.ui-icon-trash-o:before { content: "\e979"; }
.ui-icon-underline:before { content: "\e989"; }
.ui-icon-font1:before { content: "\eb5d"; }
.ui-icon-search1:before { content: "\eb5e"; }
.ui-icon-layout:before { content: "\eb5f"; }
.ui-icon-upload:before { content: "\eb60"; }
.ui-icon-background:before { content: "\eb61"; }
.ui-icon-move-backward:before { content: "\eb63"; }
.ui-icon-move-forward:before { content: "\eb64"; }
.ui-icon-element:before { content: "\eb66"; }
